{% extends 'base.html.twig' %}

{% block title %}TICKET{% endblock %}

{% block body %}
    <h1>TICKET</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ t_i_c_k_e_t.id }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ t_i_c_k_e_t.numero }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ t_i_c_k_e_t.estado }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_t_i_c_k_e_t_index') }}">back to list</a>

    <a href="{{ path('app_t_i_c_k_e_t_edit', {'id': t_i_c_k_e_t.id}) }}">edit</a>

    {{ include('ticket/_delete_form.html.twig') }}
{% endblock %}
